body {
    background-image: url('/GalaxyBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* @keyframes pulseGlow {

    0%,
    100% {
        box-shadow: 0 0 10px rgba(139, 92, 246, 0.4);
    }

    50% {
        box-shadow: 0 0 20px rgba(236, 72, 153, 0.6);
    }
} */

/* .glow-row:hover {
    animation: pulseGlow 1.5s infinite;
} */

@keyframes cyberPulse {

    0%,
    100% {
        box-shadow: 0 0 10px rgba(0, 255, 255, 0.3),
            0 0 20px rgba(236, 72, 153, 0.3);
    }

    50% {
        box-shadow: 0 0 20px rgba(0, 255, 255, 0.6),
            0 0 40px rgba(236, 72, 153, 0.5);
    }
}

.cyber-glow:hover {
    animation: cyberPulse 1.5s infinite;
}

.neon-text {
    text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff;
}

.shadow-neon {
    box-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff;
}

.border-neon {
    border-color: #0ff;
}

.neon-button {
    /* background: linear-gradient(90deg, #0ff, #f0f, #0ff); */
    color: #fff;
    text-shadow: 0 0 5px #fff;
    transition: all 0.3s ease;
}

.neon-button:hover {
    text-shadow: 0 0 10px #fff, 0 0 20px #0ff, 0 0 30px #f0f;
    transform: scale(1.05);
}